@font-face { font-family: "Poppins"; src: url("../fonts/poppins.ttf")} 

body {
    font-family: Poppins;
    margin: 0;
}
p.right { 
    display : flex;
}

nav {
   height: 70px;
   display: flex;     
}

nav h2{
    margin: 0;
    padding: 15px 5px 10px 10px;
}

nav ul{
    display: flex;
    margin: 0;
    padding: 24px;
    list-style: none;

}

nav li{
    margin-left: 24px;
    list-style: none;
}

.block_blue{
    color: white;
    background-color: #0475ba;
}
section{
    padding: 40px;
}
section p{
    margin-left: 24px;
}
.small_content{
    max-width: 800px;
    margin: 0 auto;
}
span{
    float: right
}
.right{
    text-align: right;
}
header{
    display: flex;
    padding: 40px;
    justify-content: center;
}
header div{
    padding-right: 25px;
}
header h2{
    color: #0475ba;
}
.block_blue p{
    color:white;
}

.block_blue a{
    color:white;
}
.LeftRight{
    display: flex;
    justify-content: space-between;
}
section h5{
    margin: 0;
    width: 300px;  
}
#ethan{
    height: 150px;
    width: 150px;
    border: none;
	border-radius: 50%;
}
footer {
    padding: 40px;
}
footer div {
    padding: 0px;
    margin: 0px;
    list-style: none;
}
.LeftRight p{
    margin: 0;
    
}
/* aside{
   
}
 */
